* {
	margin: 0;
	padding: 0;
}

Nav {
	align-items: center;
	background-color: #ffffff;
	width: 300px;
	// border: 2px solid #8d93ab;
	padding: 0 2em;
	.nav--title {
		align-items: center;
		font-size: 33px;
		font-weight: 900;
		color: #8d93ab;
	}
	li {
		list-style: none;
		font-size: 1em;
		padding: 0.5em, 0;
		align-self: flex-start;
	}
	a {
		list-style: none;
		font-size: 1.25em;
		padding: 0.25em, 0;
	}
	.nav--footer {
		display: flex;
		flex-direction: row;
		margin: 5px;
		padding: 5px;
		text-align: center;
		i {
			font-size: 1.5em;
			margin: 0.5em;
		}
	}
}

.App {
	padding: 0%;
	margin: 0%;
	background-color: #ffffff;
	color: #8d93ab;
	a {
		color: #393b44;
	}
	.modelling_container {
		width: 100%;
		display: flex;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-content: center;
		}
		.previews--item {
			display: inline-block;
		}
	}
	.main--container {
		margin-top: 50px;
		width: 100%;
		display: flex;
		justify-content: start;
		align-content: center;
	}
	.main--image {
		margin: auto;
		width: 630px;
	}
}

.previews--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 2em;
	width: 630px;
	// border: 2px solid red;
	.previews--item {
		img {
			display: block;
			height: auto;
			width: 300px;
		}
		p {
			padding: 0;
			width: 300px;
			text-align: justify;
		}
	}
}

#contactForm h1 {
	margin-bottom: 1em;
}
.name__container {
	display: flex;
	justify-content: space-between;
}
.name__field {
	display: inline-block;
	width: 48%;
}

.form-text {
	height: 150px;
}
.photography--container,
.modelling--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.photography--item,
	.modelling--item {
		padding: 1em 1em;
		margin: 0.5em;
		width: 20em;
	}
}
